D8\ Regression\ Project.prj
settings/internal/com.kms.katalon.core.webservice.properties
settings/internal/com.kms.katalon.composer.testcase.properties
settings/internal/com.kms.katalon.execution.properties
settings/internal/com.kms.katalon.execution.webui.properties
settings/internal/com.kms.katalon.integration.analytics.properties
.classpath
.project
