/bin/
.classpath
.project
.settings/
bin/lib/
Libs/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
Libs/TempTestCase*.groovy
Libs/TempTempCase*.groovy
Libs/TempTestSuite*.groovy
Reports
